<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- Mostrar más detalles sobre Spring Boot -->
    <logger name="org.springframework" level="INFO" />

    <!-- Ver más detalles sobre el contexto de prueba -->
    <logger name="org.springframework.test.context" level="DEBUG" />

    <!-- Mostrar información de la capa de repositorios -->
    <logger name="org.springframework.data.jpa.repository" level="DEBUG" />

    <!-- Habilitar logs detallados de Hibernate (consultas SQL) -->
    <logger name="org.hibernate.SQL" level="DEBUG" />

    <!-- Mostrar detalles sobre la configuración de los tests -->
    <logger name="org.springframework.boot.test" level="DEBUG" />

    <!-- Definir el nivel de logs generales -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>