@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("@/assets/fonts/roboto.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@theme {
  /* Colores */
  --color-ecos-base: #f5f5f5;
  --color-ecos-blue: #19233a;
  --color-ecos-orange-light: #fe963d;
  --color-ecos-orange: #dd4d2b;
  --color-ecos-dark-grey: #5a5a5a;
  --color-ecos-dark-grey-light: rgba(130, 130, 130, 0.7);
  --color-ecos-skeleton: #f1f1f1;

  /* Fuente */
  --font-sans: "Roboto", system-ui, sans-serif;
}

/* Botones */
.button-primary {
  background-color: var(--color-ecos-orange-light);
  color: #00254B;
}

.button-secondary {
  background-color: var(--color-ecos-blue);
  color: white;
}

/* Formularios Perfil */
.formProfile {
  @apply grid w-full gap-x-48 gap-y-14 overflow-y-auto px-3.5 py-10 sm:grid-cols-1 lg:grid-cols-2 lg:py-20 lg:pl-20;
}

.fieldsetSectionProfile {
  @apply flex w-full flex-col items-start gap-6;
}

.legendSectionProfile {
  @apply mb-10 text-start text-2xl font-medium;
}

.containerBtnSectionProfile {
  @apply relative order-last col-start-1 flex gap-6 self-end sm:justify-end lg:top-15 lg:col-start-2;
}

.btnSectionProfile {
  @apply w-full text-white sm:w-auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input-field-event {
  @apply h-[58px] w-full border px-3 py-2 text-[16px] placeholder:text-[#ACACAC] lg:rounded-[20px] xl:text-[22px];
}

.input-time-event {
  @apply h-[58px] w-full border px-3 py-2 pl-18 text-[16px] placeholder:text-[#ACACAC] lg:rounded-[20px] xl:text-[22px];
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.6s ease-in-out;
}
