@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/roboto.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@theme {
  /* Colores */
  --color-ecos-base: #F5F5F5;
  --color-ecos-blue: #19233A;
  --color-ecos-orange-light: #FE963D;
  --color-ecos-orange: #DD4D2B;
  --color-ecos-dark-grey: #5A5A5A;
  --color-ecos-dark-grey-light: rgba(130, 130, 130, 0.70);
  --color-ecos-skeleton: #F1F1F1;

  /* Fuente */
  --font-sans: 'Roboto', system-ui, sans-serif;
}

/* Subtitulos */
.subtitles{
  @apply text-2xl font-medium text-black md:text-[2.5rem] md:text-ecos-blue 
}

/* Botones */
.button-primary {
  background-color: var(--color-ecos-orange-light);
  color: #00254B;
}

.button-secondary {
  background-color: var(--color-ecos-blue);
  color: white;
}

/* Formularios Perfil */
.formProfile {
  @apply grid w-full gap-x-48 gap-y-14 overflow-y-auto px-3.5 py-10 sm:grid-cols-1 lg:grid-cols-2 lg:py-20 lg:pl-20;
}

.fieldsetSectionProfile {
  @apply flex w-full flex-col items-start gap-6;
}

.legendSectionProfile {
  @apply mb-10 text-start text-2xl font-medium;
}

.containerBtnSectionProfile {
  @apply relative order-last col-start-1 flex gap-6 self-end sm:justify-end lg:top-15 lg:col-start-2;
}

.btnSectionProfile {
  @apply w-full text-white sm:w-auto;
}

/* Reproductor Home */
.noScrollbar::-webkit-scrollbar {
  display: none;
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btnScroll{
  @apply absolute top-1/2 z-20 hidden h-[2.813rem] w-[2.813rem] -translate-y-1/2 cursor-pointer rounded-full p-2.5 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] transition-opacity lg:block 
}

.btnScrollDisabled{
  @apply cursor-not-allowed opacity-30
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 0.6s ease-in-out;
}
